<div class="panel-wrapper" [class.panel-wrapper--disabled]="disabled">
  <div class="panel">
    <div class="panel__row">
      <app-cmd-panel
        [value]="cmd"
        [disabled]="disabled"
        (changed)="onCmdChanged($event)">
      </app-cmd-panel>
    </div>

    <hr class="panel__separator">

    <div class="panel__section">
      <app-frequent-operations-list
        [value]="operations"
        [disabled]="disabled"
        (changed)="onOperationsChanged($event)">
      </app-frequent-operations-list>
    </div>
  </div>

  <footer class="panel__actions">
    <button mat-stroked-button type="button" [disabled]="disabled" (click)="onDefault()">Default</button>
    <span class="panel__actions-spacer"></span>
    <button mat-stroked-button type="button" [disabled]="disabled" (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" type="button" [disabled]="disabled" (click)="onSave()">Save</button>
  </footer>
</div>
