app-dashboard-wrapper {
  .mat-tab-label {
    font-size: 0.75rem;
    min-width: 0;
    padding: 0 $spacing-md;
    height: 36px;
  }

  .mat-tab-body-wrapper {
    flex: 1;
    min-height: 0;
  }
}
