<div class="panel-wrapper" [class.panel-wrapper--disabled]="disabled">
  <div class="panel">
    <div class="panel__header">
      <app-cmd-panel
        [value]="cmd"
        [disabled]="disabled"
        (changed)="onCmdChanged($event)">
      </app-cmd-panel>
    </div>

    <div class="panel__body">
      <div class="panel__section">
        <app-rare-operations-list
          [value]="rareOperations"
          [disabled]="disabled"
          (changed)="onRareOperationsChanged($event)">
        </app-rare-operations-list>
      </div>
    </div>

    <app-panel-footer
      [disabled]="disabled"
      (defaultClicked)="onDefault()"
      (cancelled)="onCancel()"
      (saved)="onSave()">
    </app-panel-footer>
  </div>
</div>
