@import 'variables';

$separator-color: rgba($primary-text, 0.12);
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.panel-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  &__body {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }
}
