<div class="panel-wrapper" [class.panel-wrapper--disabled]="readOnly">
  <div class="panel">
    <div class="panel__body">
      <div class="panel__section">
        <app-frequent-operations-list
          [value]="operations"
          [disabled]="readOnly"
          (changed)="onOperationsChanged($event)">
        </app-frequent-operations-list>
      </div>

      <hr class="panel__separator">

      <div class="panel__section">
        <app-cmd-test-panel
          [value]="cmdTest"
          [disabled]="readOnly"
          (changed)="onCmdTestChanged($event)">
        </app-cmd-test-panel>
      </div>
    </div>

    <app-panel-footer
      [readOnly]="readOnly"
      [saveBlocked]="saveBlocked"
      (defaultClicked)="onDefault()"
      (cancelled)="onCancel()"
      (saved)="onSave()">
    </app-panel-footer>
  </div>
</div>
