<div class="operations__rows">
  <ng-container *ngFor="let field of fields; trackBy: trackByKey">
    <div class="operations__row" *ngIf="field.multi; else singleTpl">
      <app-multi-dropdown
        [value]="$any(value[field.key])"
        [options]="field.options"
        [label]="field.label"
        [disabled]="disabled"
        (changed)="onControlChanged(field.key, $event)">
      </app-multi-dropdown>
    </div>
    <ng-template #singleTpl>
      <div class="operations__row">
        <app-dropdown
          [value]="$any(value[field.key])"
          [options]="field.options"
          [label]="field.label"
          [disabled]="disabled"
          (changed)="onControlChanged(field.key, $event)">
        </app-dropdown>
      </div>
    </ng-template>
  </ng-container>
</div>
