<div class="wrapper" *ngIf="{
    isRealtime: isRealtime$ | async,
    cmd: cmd$ | async,
    saveBlocked: saveBlocked$ | async
  } as vm">
  <header class="wrapper__topbar">
    <mat-checkbox
      class="wrapper__topbar-realtime"
      color="primary"
      [appTestId]="'topbar-realtime'"
      [checked]="!!vm.isRealtime"
      (change)="onRealtimeChanged($event.checked)">
      Realtime
    </mat-checkbox>

    <app-cmd-panel
      class="wrapper__topbar-cmd"
      [class.wrapper__topbar-cmd--disabled]="vm.isRealtime"
      [value]="vm.cmd!"
      [disabled]="!!vm.isRealtime"
      (changed)="onCmdChanged($event)">
    </app-cmd-panel>
  </header>

  <mat-tab-group class="wrapper__tabs" animationDuration="0ms">
    <mat-tab>
      <ng-template mat-tab-label><span [appTestId]="'frequent'">Frequent CMDs</span></ng-template>
      <app-frequent-cmds-tab
        [isRealtime]="!!vm.isRealtime"
        [cmd]="vm.cmd!"
        [saveBlocked]="!!vm.saveBlocked"
        (saved)="onTabSaved($event)"
        (cancelled)="onTabCancelled()"
        (defaultClicked)="onTabDefault()">
      </app-frequent-cmds-tab>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label><span [appTestId]="'rare'">Rare CMDs</span></ng-template>
      <app-rare-cmds-tab
        [isRealtime]="!!vm.isRealtime"
        [cmd]="vm.cmd!"
        [saveBlocked]="!!vm.saveBlocked"
        (saved)="onTabSaved($event)"
        (cancelled)="onTabCancelled()"
        (defaultClicked)="onTabDefault()">
      </app-rare-cmds-tab>
    </mat-tab>
  </mat-tab-group>
</div>
