<div class="operations__rows" [formGroup]="form">
  <div class="operations__row">
    <app-dropdown formControlName="opr1"
      [options]="opr1.options" [label]="opr1.label">
    </app-dropdown>
  </div>
  <div class="operations__row">
    <app-dropdown formControlName="opr2"
      [options]="opr2.options" [label]="opr2.label">
    </app-dropdown>
  </div>
  <div class="operations__row">
    <app-dropdown formControlName="opr3"
      [options]="opr3.options" [label]="opr3.label">
    </app-dropdown>
  </div>
  <div class="operations__row">
    <app-dropdown formControlName="opr4"
      [options]="opr4.options" [label]="opr4.label">
    </app-dropdown>
  </div>
  <div class="operations__row">
    <app-dropdown formControlName="opr5"
      [options]="opr5.options" [label]="opr5.label">
    </app-dropdown>
  </div>
  <div class="operations__row">
    <app-dropdown formControlName="opr6"
      [options]="opr6.options" [label]="opr6.label">
    </app-dropdown>
  </div>
  <div class="operations__row">
    <app-dropdown formControlName="opr7"
      [options]="opr7.options" [label]="opr7.label">
    </app-dropdown>
  </div>
  <div class="operations__row">
    <app-dropdown formControlName="opr8"
      [options]="opr8.options" [label]="opr8.label">
    </app-dropdown>
  </div>
  <div class="operations__row">
    <app-dropdown formControlName="opr9"
      [options]="opr9.options" [label]="opr9.label">
    </app-dropdown>
  </div>
  <div class="operations__row">
    <app-dropdown formControlName="opr10"
      [options]="opr10.options" [label]="opr10.label">
    </app-dropdown>
  </div>
</div>
